defmodule <%= @module_name %> do
  @moduledoc false
  <%= for %ExZk.Jute.Class{name: name, fields: fields} <- @classes do %>
    defmodule <%= name %> do
      defstruct [
          <%= for %ExZk.Jute.Field{name: name, type: type} <- fields do %>
          <%= name |> to_string |> Macro.underscore %>: <%= ExZk.Jute.Binding.default_value(type, @opts) %>,
          <% end %>
      ]

      @type t :: %__MODULE__{
          <%= for %ExZk.Jute.Field{name: name, type: type} <- fields do %>
          <%= name |> to_string |> Macro.underscore %>: <%= ExZk.Jute.Binding.typespec(type, @opts) %>,
          <% end %>
      }

      defimpl ExZk.Wire.Pack do
        @spec pack(<%= name %>.t()) :: binary()
        def pack(%<%= name %>{
          <%= for %ExZk.Jute.Field{name: name} <- fields do %>
          <%= name |> to_string |> Macro.underscore %>: <%= name |> to_string |> Macro.underscore %>,
          <% end %>
        }) do
          ExZk.Wire.pack([
            <%= for %ExZk.Jute.Field{name: name, type: type} <- fields do %>
            {<%= ExZk.Jute.Binding.typename(type, @opts) %>, <%= name |> to_string |> Macro.underscore %>},
            <% end %>
          ])
        end
      end

      @spec unpack(buf :: binary()) :: {:ok, t(), rest :: binary()} | {:error, :nomatch}
      def unpack(buf) when is_binary(buf) do
        with {:ok, fields, rest} <- ExZk.Wire.unpack(buf,
          <%= for %ExZk.Jute.Field{name: name, type: type} <- fields do %>
          <%= name |> to_string |> Macro.underscore %>: <%= ExZk.Jute.Binding.typename(type, @opts) %>,
          <% end %>
        ) do
          {:ok, struct!(<%= name %>, fields), rest}
        end
      end
    end
  <% end %>
end
